.container > input {
  visibility: hidden;
}

.controls {
  display: flex;
  width: 7.5rem;
  height: 4.375rem;
  margin: -1.25rem auto;
}

.controller {
	cursor: pointer;
	height: 0.75rem;
	width: 0.75rem;
	margin: 1.563rem 0.313rem 0 0.313rem;
	border-radius: 50%;
	border: 0.125rem solid red;

  display: flex;
  justify-content: center;
  align-items: center;
	transition: background ease-in-out .5s;
}

.controller_active {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: inherit;
}

.controller:hover, 
#slide1:checked ~ .controls label:nth-of-type(1) > div,
#slide2:checked ~ .controls label:nth-of-type(2) > div,
#slide3:checked ~ .controls label:nth-of-type(3) > div,
#slide4:checked ~ .controls label:nth-of-type(4) > div {
	background: orange;
}
