.wrapperTxtControlelrs {
  display: flex;
  justify-content: space-between;
}

.sighns_wrap {
  overflow: hidden;
  flex-grow: 1;
}

.sighns {
  display: flex;
}

.sighn {
  color: antiquewhite;
  margin-top: var(--twenty);
  opacity: 0;
}

#sighn1, #sighn2, #sighn3, #sighn4 {
  width: 100%;
  min-width: 100%;
}

#slide1:checked ~ .wrapperTxtControlelrs > .sighns_wrap > .sighns {
  transform: translateX(0);
}

#slide2:checked ~ .wrapperTxtControlelrs > .sighns_wrap > .sighns {
  transform: translateX(-100%);
}

#slide3:checked ~ .wrapperTxtControlelrs > .sighns_wrap > .sighns {
  transform: translateX(-200%);
}
#slide4:checked ~ .wrapperTxtControlelrs > .sighns_wrap > .sighns {
  transform: translateX(-300%);
}

#slide1:checked ~ .wrapperTxtControlelrs > .sighns_wrap > .sighns > #sighn1,
#slide2:checked ~ .wrapperTxtControlelrs > .sighns_wrap > .sighns > #sighn2,
#slide3:checked ~ .wrapperTxtControlelrs > .sighns_wrap > .sighns > #sighn3,
#slide4:checked ~ .wrapperTxtControlelrs > .sighns_wrap > .sighns > #sighn4 {
  animation: show .5s;
  opacity: 1;
}