.wrapperTxtControlelrs {
  display: flex;
  justify-content: space-between;
}

.sighns {
  display: flex;
}

#sighn1 {
  transform: translate(0%);
}

#sighn2 {
  transform: translate(-222%);
}

#sighn3 {
  transform: translate(-446%);
}

#sighn4 {
  transform: translate(-670%);
}

#slide1:not(:checked) ~ .wrapperTxtControlelrs > #sighn1,
#slide2:not(:checked) ~ .wrapperTxtControlelrs > #sighn2,
#slide3:not(:checked) ~ .wrapperTxtControlelrs > #sighn3,
#slide4:not(:checked) ~ .wrapperTxtControlelrs > #sighn4 {
  animation: sighn .5s;
  opacity: 0;
}


@keyframes sighn {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}