.main {
  width: 90vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(255, 255, 255);
  padding: 0.625rem 2.5rem;
  margin: 0 auto;
}

.container {
  max-width: 31.25rem;
  height: 60vh;
  width: 100%;
  padding: 0.625rem 2.5rem;

  border: 0.625rem solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
}