.main {
  width: 90vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(255, 255, 255);
  /*padding: var(--ten) var(--fourty);*/
  margin: 0 auto;
}

.container {
  max-width: var(--nineHundred);
  width: 100%;
  /*padding: var(--ten) var(--fourty);*/

  border: var(--ten) solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
}

.sighn {
  color: antiquewhite;
  margin-top: var(--twenty);
}